.o-card{
    min-height: 24em;
}





/* @media (min-width: 576px) {
    .o-card{
        width: 18rem;
    }
 }


@media (min-width: 768px) {
    .o-card{
        width: 18rem;
    }
 }


@media (min-width: 992px) {
    .o-card{
      width: 18rem;
    }   
}


@media (min-width: 1200px) { 
    .o-card{
        width: 18rem;
    }
} */